.list {
  @apply absolute border border-gray-700 rounded-layout bg-gray-800 w-full animate-fade z-10;
  top: calc(100% + 1.2em);

  > a {
    @apply flex items-center py-3 px-4 relative;

    &::after {
      @apply absolute -right-0.5 h-0 w-0.5 bg-transparent;
      content: "";
      top: 25%;
      transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:hover::after {
      @apply bg-primary h-1/2;
    }

    img {
      @apply rounded-image;
    }

    .info {
      @apply ml-3 truncate;

      .title {
        @apply text-white text-lg font-medium truncate mb-6;
      }

      .year {
        @apply text-gray-500 text-sm;
      }

      &:last-child {
        width: 70%;
      }
    }
  }
}
